@use "base/variables" as v;
@use "base/mixins" as m;

.contacto {
    margin-top: 5rem;
    &__grid {
        @include m.tablet{
            @include m.grid(2, 10rem);
        }
    }

    &__heading {
        @include m.heading(true);
    }

    &__red {
        @include m.grid(7, 1rem);
        margin-bottom: 4rem;
        background-color: v.$blanco;
    }
    &__contenido {
        grid-column: 2/8;
    }
}

.contacto-mensaje {
    &__heading{
        @include m.heading;
    }
    &__nombre, &__email, &__texto {
        display: block;
        width: 100%;
        border: none;
        margin-bottom: 2rem;
    }
    &__nombre, &__email {
        padding: 2rem .8rem;
    }
    &__enlace{
        @include m.boton(v.$primario, v.$blanco);
        display: block;
    }
}