@use "base/variables" as v;
@use "base/mixins" as m;


.servicios {
    margin-top: 5rem;

    @include m.tablet{
        margin-top: 10rem;
    }

    &__heading {
        @include m.heading;
    }

    &__grid {
        @include m.tablet{
            @include m.grid(2, 1rem);
        }
    }

    &__imagen-contenedor {
        display: none;
        @include m.tablet{
            display: block;
        }
    }

    

    &__lista{
        @include m.tablet{
            @include m.grid(2, 2rem);
        }
    }

    &__contenedor{
        @include m.tablet{
            
        }
    }
}

.servicio{
    &__grid {
        background-color: v.$blanco;
        margin-top: 5rem;
        border-radius: 2rem;
        overflow: hidden;

        @include m.tablet{
            display: flex;

        }
    }

    &__descripcion-p{
        background-color: v.$blanco;
        width: 100%;
        padding: 4rem;
        @include m.tablet{
            width: 50%;
            
        }
    }
    
    &__contenedor-img{
        width: 100%;
        @include m.tablet{
            width: 50%;
        }
    }

    &__item{
        background-color: v.$blanco;
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        padding: 3rem;
        border-radius: 2rem;
        margin-bottom: 2rem;
        @include m.tablet{
            margin-bottom: 0;
            
        }
    }

    &__titulo{
        font-size: 1.7rem;
        text-align: center;
        margin-top: 1rem;
    }

    &__img{
        width: 9rem;
        display: block;
    }
}

.rev{
    @include m.tablet{
        flex-direction: row-reverse;
    }
}

.header__heading-s,
.header__texto-s
{
    text-align: center;
}

.header__heading-s
{
    margin-top: 3rem;
}

