@use "base/variables" as v;
@use "base/mixins" as m;


.servicios {
    margin-top: 5rem;

    @include m.tablet{
        margin-top: 10rem;
    }

    &__heading {
        @include m.heading;
    }

    &__grid {
        @include m.tablet{
            @include m.grid(2, 1rem);
        }
    }

    &__imagen-contenedor {
        display: none;
        @include m.tablet{
            display: block;
        }
    }

    &__lista{
        @include m.tablet{
            @include m.grid(2, 2rem);
        }
    }
}